
html {
    box-sizing: border-box;
    font-size: 16px;
}

  html, body {
    height: 100%;
    background-color: #f2f2f2 !important;
    font-family: 'Lato', sans-serif !important;
    overflow-x: hidden;
}

*, *:before, *:after {
box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
margin: 0;
padding: 0;
font-weight: normal;
}

a, a:hover, a:focus, a:active {
    text-decoration: none !important;
    color: inherit !important;
}
a {
    color: inherit !important;
    text-decoration: inherit !important;
  }
ol, ul {
list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 576px) {  }

@media (max-width: 576px) {  }

@media (min-width: 768px) {  }

@media (max-width: 768px) {  }

@media (min-width: 992px) {
    .new-post
    {
        margin: 0 !important;
    }
}

@media (max-width: 992px) {
    .content
    {
        margin-bottom: 25px;
    }
    .post-content
    {
        padding: 0 !important;
    }
}

@media (min-width: 1200px) {
    .best-user
    {
        font-size: 14px;
    }
 }

@media (max-width: 1200px) {
    .best-user
    {
        font-size: 14px;
    }
}

@media (min-width: 1400px) {  }

@media (max-width: 1400px) {  }

.nav-icon
{
    font-size: 35px;
}
.content
{
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    border: none;
}

.left-nav > .nav-link
{
    border-bottom: 1px solid #f5f5f5;
}

.left-nav > .nav-link:hover
{
    background-color: #f5f5f5;
}
.post
{
    background-color: #FFF;
    border-radius: 10px;
    border: none;
    padding: 30px 40px;
    margin-bottom: 25px;
}
.post > a:hover
{
    cursor: pointer;
}
.post-title
{
    font-weight: 700;
    letter-spacing: 1px;
}
.post-text
{
    text-align: justify;
    color: #687980;
}
.post-footer
{
    color: #687980;
    font-size: 13px;
}
.best-users-title
{
    text-align: left;
    font-weight: 700;
}
.best-user
{
    margin-bottom: 15px;
}
.search-field > *
{
    border: none !important;
    background-color: #f3f3f3 !important;
}
.main-navbar
{
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 9px -3px rgba(206, 206, 206, 1);
    -moz-box-shadow: 0px 3px 9px -3px rgba(206, 206, 206, 1);
    box-shadow: 0px 3px 9px -3px rgba(206, 206, 206, 1);
}
.main-navbar-text
{
    position: relative;
    bottom: 5px;
}
.btn:focus, .form-control:focus {
    outline: none !important;
    box-shadow: none !important;
  }
.comment
{
    margin: 0 25px 25px 25px;
}
.comment:hover
{
    cursor: unset;
}
.add-comment
{
    background-color: #fff;
}
.add-button
{
    min-height: 40px;
}

.user-options
{
    background-color: inherit;
    border: 0;
    display: inline-block;
}
.dropdown-options
{
    display: inline-block;
    position: relative;
    top: -2px;
}
.svg-arrow
{
    height: 30px !important;
}
.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
  }

#alertBox {
    z-index: 9999 !important;
    position: absolute !important;
    display: none;
    top: 2rem;
    width: 250px;
    font-size: 14px;
    left: calc(100% - 275px);
}
.post-section
{
    min-height: 75vh;
}

.comment-options
{
    position: relative;
    left: 20px;
    bottom: 10px;
}
.dropdown-item:hover
{
    cursor: pointer;
}
.main-footer
{
    text-align: justify;
    -webkit-box-shadow: 0px -3px 9px -3px rgba(206, 206, 206, 1);
    -moz-box-shadow: 0px -3px 9px -3px rgba(206, 206, 206, 1);
    box-shadow: 0px -3px 9px -3px rgba(206, 206, 206, 1);
}
.main-footer p {
    font-size: 11px;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: #FFFFFF;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(74, 130, 156, 0.50);
    box-shadow: nset 0 0 6px rgba(74, 130, 156, 0.50);
    background-color: #6f6f6e;
}

.target-post
{
    background-color: #f2f2f2 ;
    border-radius: 10px;
    border: none;
}

.btn-add, .btn-delete
{
    position: relative;
    left: 20px;
    min-height: 34px;
}
.main-menu > a {
    pointer-events: all !important;
}
.disabled-link
{
    opacity: 0.5;
}

.disabled-link:hover
{
    cursor: default;
}
.btn-not-active
{
    opacity: 0.50;
}
#post-template
{
    display: none;
    padding-top: 15px;
}
.tooltip-inner {
    max-width: 750px !important;
}
